*{margin: 0;padding: 0;}
body {
	padding: 0px 0px;
	/*font-family: Arial, Verdana, Arial;*/
	/*font-family: 'Times New Roman', 'Times New Roman', Arial;serif;*/
	/*font-family: 'trebuchet MS', 'Lucida sans', 'Arial';*/
	/*font-family: 'Times New Roman', 'Times New Roman', Arial;*/
}
.demo {
width: 600px;
margin: 40px auto;
font-family: 'trebuchet MS', 'Lucida sans', Arial;
font-size: 14px;
color: #444;
}

table {
	*border-collapse: collapse; /* IE7 and lower */
	border-spacing: 0;
	width: 100%;
}

/*========bordered table========*/
.bordered {
	/*background-color: #FAFAFA;*/
	border: solid #ccc 1px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 1px #ccc;
	-moz-box-shadow: 0 1px 1px #ccc;
	box-shadow: 0 1px 1px #ccc;
		
}
.bordered tr {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;		
}
.bordered .highlight,
.bordered tr:hover {
	/*background: #fbf8e9;*/		
}
.bordered td, 
.bordered th {	
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	padding: 3px;
	text-align: center;
	vertical-align: center;
}
.bordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}			
.bordered td:first-child, 
.bordered th:first-child {
	/*border-left: none;*/
}			
.bordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}
.bordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}
.bordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}
.bordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}
			
/*----------------------*/
/*.zebra tr{font-size:85%;}**/
.zebra tr:hover {
	background: #CED8F6;		
}			
.zebra td, 
.zebra th {
	padding: 2px;
	border-bottom: 1px solid #f2f2f2;
	vertical-align: middle;
}

.zebra .alternate,
.zebra tbody tr:nth-child(even) {
	background: #f5f5f5;
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
}

.zebra .alternate,
.zebra tbody tr:nth-child(even):hover{
	background: #CED8F6;		
}			

.zebra th {
	text-align: left;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
	background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
	background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
	background-image: -o-linear-gradient(top, #f5f5f5, #eee);
	background-image: linear-gradient(top, #f5f5f5, #eee);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eeeeee);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f5f5f5, endColorstr=#eeeeee)";
}
.zebra th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}
.zebra th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}
.zebra tfoot td {
	border-bottom: 0;
	border-top: 1px solid #fff;
	background-color: #f1f1f1;
}
.zebra tfoot td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}
.zebra tfoot td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}

/*========bordered table========*/
.nobordered {
	background-color: #FAFAFA;		
}
.nobordered tr {
	-o-transition: all 0.1s ease-in-out;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	-ms-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;		
}

.nobordered td, 
.nobordered th {	
	padding: 10px;
	text-align: left;
	vertical-align: top;
}

.nobordered th {
	background-color: #dce9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ebf3fc), to(#dce9f9));
	background-image: -webkit-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -moz-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -ms-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: -o-linear-gradient(top, #ebf3fc, #dce9f9);
	background-image: linear-gradient(top, #ebf3fc, #dce9f9);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#ebf3fc, endColorstr=#dce9f9)";
	-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.8) inset;
	box-shadow: 0 1px 0 rgba(255,255,255,.8) inset;
	border-top: none;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
			
.nobordered td:first-child, 
.nobordered th:first-child {
	border-left: none;
}			
.nobordered th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}
.nobordered th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}
.nobordered tr:last-child td:first-child {
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
	border-radius: 0 0 0 6px;
}
.nobordered tr:last-child td:last-child {
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
	border-radius: 0 0 6px 0;
}


/*team db*/
.teamtb {
	background:#fff;
	font-size:90%;
}

.teamtb tr:hover {
	background: #CED8F6;	
}			
.teamtb td, 
.teamtb th {	
	padding: 1px;
	border-bottom: 1px solid #f2f2f2;
	vertical-align: middle;
}
.teamtb th {
	text-align: left;
	text-shadow: 0 1px 0 rgba(255,255,255,.5);
	border-bottom: 1px solid #ccc;
	background-color: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#eee));
	background-image: -webkit-linear-gradient(top, #f5f5f5, #eee);
	background-image: -moz-linear-gradient(top, #f5f5f5, #eee);
	background-image: -ms-linear-gradient(top, #f5f5f5, #eee);
	background-image: -o-linear-gradient(top, #f5f5f5, #eee);
	background-image: linear-gradient(top, #f5f5f5, #eee);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#f5f5f5, endColorstr=#eeeeee);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient (GradientType=0, startColorstr=#f5f5f5, endColorstr=#eeeeee)";
}
.teamtb th:first-child {
	-moz-border-radius: 6px 0 0 0;
	-webkit-border-radius: 6px 0 0 0;
	border-radius: 6px 0 0 0;
}
.teamtb th:last-child {
	-moz-border-radius: 0 6px 0 0;
	-webkit-border-radius: 0 6px 0 0;
	border-radius: 0 6px 0 0;
}
			
		
.button {
	display: inline-block;
	padding: 3px 8px;
	font-size: 16px;
	font-weight: bold;
	cursor: pointer;
	text-align: center;   
	text-decoration: none;
	outline: none;
	color: #fff;
	background-color: #848484;
	border: none;
	border-radius: 3px;
	/*box-shadow: 0 2px #999;*/
	margin:0 3px;
}

.button:hover {background-color: #555555}

.button:active {
	background-color: #555555;
	box-shadow: 0 2px #666;
	transform: translateY(2px);
}
	
.gobutton {
	background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 1px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
}

.gobutton {
    background-color: white; 
    color: black; 
    border: 1px solid #4CAF50;
}

.gobutton:hover {
    background-color: #4CAF50;
    color: white;
}
	
.timerdigit {	
	font-size:1.8rem;
	font-weight: Bold;	
}
	
.teamlogo {
	width:40px;
	height:50px;
	margin:4px;	
}

.scoredigit {	
	font-size:1.8rem;
	font-weight: Bold;
}

.mytextarea {
	/*font-family: 'trebuchet MS', 'Lucida sans', Arial;*/
	font-size: 12px;
	width:100%;
}

.selectedrow {
	background-color: #D8D8D8;
}

.subplayerrow {
	color:#2D82D4;
}

.myanchorpoint{
	/*hidden anchor point*/	
	position: relative;
    top: -44px;
    display: block;
    height: 0;
    overflow: hidden;	
}

.mynav{
	background-color:#2D82D4;
}

.mynav a,
.mynav a:visited {
	color:white;
}

.mynav a:hover{
	color:red;
}

.halfsel {
	margin-top:14px;
}

.jerseygreen{
	background-color:#28a745;
	border-color:#28a745;
	color:#fff;
}

.jerseyred{
	background-color:#dc3545;
	border-color:#dc3545;
	color:#fff;
}

.jerseyyellow{
	background-color:yellow;
	border-color:yellow;
	color:#007bff;
}

.jerseyblue{
	background-color:#007bff;
	border-color:#007bff;
	color:#fff;
}

.jerseywhitered{
	background-color:white;
	border-color:#007bff;
	color:#dc3545;
}

.jerseywhiteblue{
	background-color:white;
	border-color:#007bff;
	color:#007bff;
}

.jerseypink{
	background-color:#FF69B4;
	border-color:#FF69B4;
	color:#fff;
}

.jerseyorange{
	background-color:#FF7F50;
	border-color:#FF7F50;
	color:#fff;
}

.jerseygold{
	background-color:#FFD700;
	border-color:#FFD700;
	color:#fff;
}

.jerseydarkgreen{
	background-color:#006400;
	border-color:#006400;
	color:#fff;
}

.jerseycyan{
	background-color:#00ffff;
	border-color:#00ffff;
	color:#000;
}


